/* Import global variables first */
@import './styles/global-variables.css';

body {
  margin: 0;
  font-family: 'Angsana New', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
